/* css styles for public side */
#subscribe_form {
  background: #FBFBFB;
  border: 1px solid #E7E7E7;
  padding: 15px;
}

#subscribe_form p {
    font-size: 1em;
    margin: 0px;
}

#subscribe_form input {
  border: 1px solid #A5A5A5;
  background: #fff;
}

img {
  border: solid 1px #ccc;
}
.captcha-image {
  padding-bottom: 10px;
}
#ruaname,
#ruaemail {
    color: #2A2A2A;
    background-color: #F9F9F9;
    border: #DCDCDC solid 1px;
    display: block;
    padding: 15px 25px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#subscribe_form label {
    display: block;
    color: #4B4B4B;
    padding-bottom: 5px;
    padding-top: 10px;
}

#subscribe_form label span,
.val_message {
  color: #B90000;
}

.subscribe_btn {
  margin-top: 20px;
  padding: 15px 35px;
}

.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 25px;
  text-decoration: none;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn:hover {
  background-color: #196BAA !important;
  color: #FFF;
}

/** button colors **/
.btn-default {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}

.btn-default:focus,
.btn-default.focus {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #8c8c8c !important;
}

.btn-default:hover {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #337ab7 !important;
  border: solid 1px #2e6da4 !important;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #122b40 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}

.btn-success {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #255625 !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}

.btn-info {
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #1b6d85 !important;
}

.btn-info:hover {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #269abc !important;
}

.btn-warning {
  color: #fff !important;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.btn-warning:focus,
.btn-warning.focus {
  color: #fff !important;
  background-color: #ec971f !important;
  border-color: #985f0d !important;
}

.btn-warning:hover {
  color: #fff !important;
  background-color: #ec971f !important;
  border-color: #d58512 !important;
}

.btn-danger {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #761c19 !important;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.subscribe-text-green,
.fa-check-circle-o {
  color: green;
  font-size: 14px;
}

.subscribe_label {
  text-align: center;
}

#successMessage {
  padding-bottom: 110px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background: #FBFBFB;
  border: 1px solid #E7E7E7;
  height: 360px;
  text-align: center;
  width: 100%;
}

#formwrapper {
  width: 95%;
  margin-left:10px;
}

#success_icon {
  padding-bottom:5px;
}

.subscribe_form .success_test {
    color: #529100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

#unsubscribe-wrapper {
  width: 95%;
  margin-top: 150px;
}

#message-container {
  width: 100%;
  padding: 20px 20px 20px 20px;
}

#unsubscribe-message {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

.iconspinner {
  margin-top: 10px;
  text-align: center;
}

.numofsubscribers {
  text-align: center;
}
