/* css styles for admin side */
body {
  background-color: #f1f1f1 !important;
}

hr {
 border-top: 1px solid #333 !important;
 margin-top: 20px;
 margin-bottom: 20px;
 border: 0;
}

/*.panel-primary>.panel-heading {
  background-color: #1abc9c !important;
}

.panel-primary {
    border-color: #ddd !important;
}
*/

/*
.btn-default {
  background-color:#1abc9c;
}
*/

select {
  height: 35px !important;
}

.label-strong {
  color: #2980B9;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  margin-left: 10px;
}

#rua_enable_custom_emails,
#rua_default_email_footer,
#rua_enable_custom_published_post_email,
#rua_default_published_post_email_footer,
#rua_enable_view_post_button {
  width: 90%;
  margin-left: 5px;
}

.pagination>li {
  display: inline;
  padding:0px !important;
  margin:0px !important;
  border:none !important;
}

.modal-backdrop {
  z-index: -1 !important;
}

/*
Fix to show in full screen demo
*/

iframe
{
    height:700px !important;
}

.btn {
  display: inline-block;
  padding: 6px 12px !important;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff !important;
  background: #428bca !important;
  border-color: #357ebd !important;
  box-shadow:none !important;
}

.btn-danger {
  color: #fff !important;
  background: #d9534f !important;
  border-color: #d9534f !important;
  box-shadow:none !important;
}

.dataTables_length {
  padding-bottom: 10px;
}

.dataTables_info {
  margin-top: 15px;
}

.div.dataTables_paginate {
  margin: 0;
}

#export_form {
  float: right !important;
}

thead, th {
  background-color: #6f5499;
  color: #fff;
}

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}